[Desktop Entry]
Name=Conky
GenericName=Conky Parrot
Comment=Desktop Monitoring
TryExec=/etc/conky/startup.sh
Exec=bash /etc/conky/startup.sh
Terminal=false
Type=Application
Keywords=conky;
Categories=System;Monitor;
StartupNotify=false
